body { 
    background-image: url('images/900889.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 1440px 840px;
    font-family: "Open Sans";
}